body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1857px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1893px;
  height:870px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-6px;
  width:1893px;
  height:870px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1 {
  position:absolute;
  left:693px;
  top:324px;
}
#u1_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:379px;
  height:358px;
  background-image:none;
}
#u1_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:358px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:358px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:7px;
  width:32px;
  height:32px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:1665px;
  top:62px;
  width:180px;
  height:87px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
